.link {
  transition: all 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.2);
}

.text {
  text-align: center;
  font-weight: 600;
}

.image {
  border-radius: 1rem;
  width: 4.5rem;
  height: 4.5rem;
}
